<p id="notice"><%= notice %></p>

<p>
  <strong>Vencimento:</strong>
  <%= @contum.vencimento %>
</p>

<p>
  <strong>Emissao:</strong>
  <%= @contum.emissao %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @contum.valor %>
</p>

<p>
  <strong>Ficha:</strong>
  <%= @contum.Ficha %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @contum.Customer %>
</p>

<p>
  <strong>Historico:</strong>
  <%= @contum.historico %>
</p>

<%= link_to 'Edit', edit_contum_path(@contum) %> |
<%= link_to 'Back', conta_path %>
