<%= form_for(@nf_venda) do |f| %>
  <% if @nf_venda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nf_venda.errors.count, "error") %> prohibited this nf_venda from being saved:</h2>

      <ul>
      <% @nf_venda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numerodocumento %><br>
    <%= f.text_field :numerodocumento %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :desconto %><br>
    <%= f.text_field :desconto %>
  </div>
  <div class="field">
    <%= f.label :acrescimo %><br>
    <%= f.text_field :acrescimo %>
  </div>
  <div class="field">
    <%= f.label :Ficha_id %><br>
    <%= f.text_field :Ficha_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
