<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @customer.nome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @customer.telefone %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @customer.endereco %>
</p>

<p>
  <strong>Cpfcnpj:</strong>
  <%= @customer.cpfcnpj %>
</p>

<p>
  <strong>Clioufor:</strong>
  <%= @customer.clioufor %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
