<%= form_for(@ficha) do |f| %>
  <% if @ficha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ficha.errors.count, "error") %> prohibited this ficha from being saved:</h2>

      <ul>
      <% @ficha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :Vendedor_id %><br>
    <%= f.select(:Vendedor_id, Vendedor.all.collect {|p| [ p.nome, p.id ] }, {include_blank: 'Não Definido'})%>
  </div>
  <div class="field">
    <%= f.label :Banco_id %><br>
        <%= f.select(:Banco_id, Banco.all.collect {|p| [ p.nome, p.id ] }, {include_blank: 'Não Definido'})%>
  </div>
  <div class="field">
    <%= f.label :tipopfin %><br>
    <%= f.select(:tipopfin, options_for_select([["Venda","0"], ["Compra","1"]]))%>
  </div>
  <div class="field">
    <%= f.label :coef %><br>
    <%= f.text_field :coef %>
  </div>
  <div class="field">
    <%= f.label :valfinanceiro %><br>
    <%= f.text_field :valfinanceiro %>
  </div>
  <div class="field">
    <%= f.label :numparcelas %><br>
    <%= f.text_field :numparcelas %>
  </div>
  <div class="field">
    <%= f.label :valorparcela %><br>
    <%= f.text_field :valorparcela %>
  </div>
  <div class="field">
    <%= f.label :valortotal %><br>
    <%= f.text_field :valortotal %>
  </div>
  <div class="field">
    <%= f.label :Customer_id %><br>
    <%= f.select(:Customer_id, Customer.all.collect {|p| [ p.nome, p.id ] }, {include_blank: 'Não Definido'})%>
  </div>
  <div class="field">
    <%= f.label :Cars_id %><br>
    <%= f.select(:Cars_id, Car.all.collect {|p| [ p.modelo, p.id ] }, {include_blank: 'Não Definido'})%>
  </div>
  <div class="field">
    <%= f.label :MeioPagamento_id %><br>
    <%= f.select(:MeioPagamento_id, MeioPagamento.all.collect {|p| [ p.descricao, p.id ] }, {include_blank: 'Não Definido'})%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
