<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @ficha.data %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @ficha.Vendedor %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @ficha.Banco %>
</p>

<p>
  <strong>Tipopfin:</strong>
  <%= @ficha.tipopfin %>
</p>

<p>
  <strong>Coef:</strong>
  <%= @ficha.coef %>
</p>

<p>
  <strong>Valfinanceiro:</strong>
  <%= @ficha.valfinanceiro %>
</p>

<p>
  <strong>Numparcelas:</strong>
  <%= @ficha.numparcelas %>
</p>

<p>
  <strong>Valorparcela:</strong>
  <%= @ficha.valorparcela %>
</p>

<p>
  <strong>Valortotal:</strong>
  <%= @ficha.valortotal %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @ficha.Customer %>
</p>

<p>
  <strong>Cars:</strong>
  <%= @ficha.Cars %>
</p>

<p>
  <strong>Meiopagamento:</strong>
  <%= @ficha.MeioPagamento %>
</p>

<%= link_to 'Edit', edit_ficha_path(@ficha) %> |
<%= link_to 'Back', fichas_path %>
