<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> Não foi possível salvar.</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.select(:status, 
    options_for_select([["Consignado","1"], ["Vendido","2"], ["Em Negociacao","3"], ["Disponível","4"]], @car.status),
    {include_blank: true})%>
  </div>
  <div class="field">
    <%= f.label :local_id %><br>
    <%= f.select(:local_id, Local.all.collect {|p| [ p.descricao, p.id ]},{include_blank: 'Sem Local'})%>
  </div>
  <div class="field">
    <%= f.label :placa %><br>
    <%= f.text_field :placa %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br>
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :combustivel %><br>
    <%= f.select(:combustivel, 
    options_for_select([["Etanol","1"], ["Gasolina","2"], ["Flex","3"]], @car.combustivel),
    {include_blank: true})%>
  </div>
  <div class="field">
    <%= f.label 'Ano de Fabricacao' %><br>
    <%= f.date_select :anofabricacao %>
  </div>
  <div class="field">
    <%= f.label 'Ano do Modelo' %><br>
    <%= f.date_select :anomodelo %>
  </div>
  <div class="field">
    <%= f.label 'Quilometragem' %><br>
    <%= f.text_field :km %>
  </div>
  <div class="field">
    <%= f.label :valorvenda %><br>
    <%= f.text_field :valorvenda %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
