<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @car.status %>
</p>

<p>
  <strong>Local:</strong>
  <%= @car.local.descricao %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @car.placa %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @car.modelo %>
</p>

<p>
  <strong>Combustivel:</strong>
  <%= @car.combustivel %>
</p>

<p>
  <strong>Anofabricacao:</strong>
  <%= @car.anofabricacao %>
</p>

<p>
  <strong>Andomodelo:</strong>
  <%= @car.anomodelo %>
</p>

<p>
  <strong>Km:</strong>
  <%= @car.km %>
</p>

<p>
  <strong>Valorvenda:</strong>
  <%= @car.valorvenda %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
