<p id="notice"><%= notice %></p>

<p>
  <strong>Numparcelas:</strong>
  <%= @meio_pagamento.numparcelas %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @meio_pagamento.tipo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @meio_pagamento.descricao %>
</p>

<%= link_to 'Edit', edit_meio_pagamento_path(@meio_pagamento) %> |
<%= link_to 'Back', meio_pagamentos_path %>
