<!DOCTYPE html>
<html>
<head>
  <title>Benaia Motors</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="user_header">
    <%if current_user %>
      <ul>
        <li><%= link_to "Home", page_index_path %></li>
        <li><%= link_to "Usuário", users_path %></li>
        <li><%= link_to "Locais", locals_path %></li>
        <li><%= link_to "Carros", cars_path %></li>
        <li><%= link_to "Clientes", customers_path %></li>
        <li><%= link_to "Meio Pagamento", meio_pagamentos_path %></li>
        <li><%= link_to "Vendedores", vendedors_path %></li>
        <li><%= link_to "Banco", bancos_path %></li>
        <li><%= link_to "Fichas", fichas_path %></li>
        <li><%= link_to "Conta", conta_path %></li>
        <li><%= link_to "NFVendas", nf_vendas_path %></li>
        <li><%= link_to "Sair", logout_path %></li>
      </ul>
    <% end %>
  </div>
  
  <% flash.each do |key, value| %>
    <%= content_tag(:div, class: "alert alert-#{key}") do %>
      <p> <%= value %> </p>
    <% end %>
  <% end %>
  
  
    <div id="rodape">
      <%if current_user %>
        <h1>Logged in as <%= current_user.email %></h1>
      <% end %>
    </div>
  <%= yield %>

  </body>
</html>
